.big img {
    width: 100%;
    /* height: 500px; */
    aspect-ratio: 4 / 2;
    z-index: -1;
}
.small {
    /* margin-top: 200px; */
    z-index: 20;
    position: relative;
}
.small h1 {
    /* position: absolute; */
    top: 230px;
    left: 50%;
    color: #fff;
}